node_modules/
.vs/
.cache/
dist/
dist-*/
test-outputs/
.DS_Store

coverage/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
