node_modules/
.vs/
.cache/
dist/
dist-*/
test-outputs/
.DS_Store

coverage/
.parcel-cache

.idea

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.provisionprofile

# electron build dirs
electron/electron-js/
electron/electron-html/
electron/out/


electron-forge/electron-js/
electron-forge/electron-html/

# buildinfo files
*.tsbuildinfo

electron-forge/forge.config.js
electron-forge/out