.AppMain {
  min-width: 96%;
  max-width: 96%;
  min-height: 96%;
  max-height: 96%;
  margin: 0px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
