.view_top_level {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
  padding: 0;
}

.view_content_region {
  display: flex;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
}

.spacer {
  display: flex;
  flex-basis: 0;
  flex-grow: 0.0001;
}


.default_view_content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
  /* margin: 2rem; */
  flex-grow: 1;
  flex-shrink: 1;
}

