
.request_choice, .request_promise, .request_description {
  flex-shrink: 0;
  flex-grow: 0;
  font-family: sans-serif;
  text-align: center;
}
.request_description {
  margin-top: 0px;
  margin-bottom: 15;
  color: #202000;
  font-weight: 400;
}
.request_choice {
  font-size: 1.6666rem;
  color: #202000;
  font-weight: 400;
}
.request_promise {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #001000;
  text-align: center;
}

.known_application_name {
  /* font-family: serif; */
  font-weight: 400;
  /* background-color: rgba(152, 160, 47, 0.1); */
  /* border-radius: 0.3rem; */
  /* text-decoration: rgba(152, 160, 47, 0.2) solid underline 0.2rem; */
}

.host_name {
  font-family: monospace;
}