.password_to_be_shared_container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: monospace;
  cursor:pointer;
  padding-top: 2px;
  --padding-bottom: 2px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.copy_icon{
  position: relative;
  font-size: 1.1rem;
  width: 0px;
  top: -.15rem;
  left: -1.85rem;
  user-select: none;
  cursor: pointer;
}

.obscure_icon {
  position: relative;
  font-size: 1.25rem;
  width: 0px;
  top: -.25rem;
  right: -.75rem;
  user-select: none;
  cursor: pointer;
}