.section {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  border-radius: 1rem;
  align-items: stretch;
}

.section-header {
  display: flex;
  align-self: flex-start;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .25rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  background-color: #f6f9f9;
    /* border-bottom-style: solid;
  border-bottom-color: block;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-color: block;
  border-top-width: 1px; */
  flex-shrink: 1;
}