.recipe_name {
  font-size: 1.4rem;
}

.recipe_header {
  display: flex;
  flex-direction:row;
  margin-top: .5rem;
  font-size: 1.25rem;
}

.vstack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical_labeled_field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field_row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sequence_number_text_field, .length_text_field {
  width: 4rem;
  text-align: right;
  border: none;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 1rem;
}

.label_below {
  /* border-top-width: 1px;
  border-top-style: solid;
  border-top-color: gray; */
  text-align: center;
  margin-top: 1px;
  margin-bottom: 4px;
}



.form_content {
  margin-right: 0px;
}

.form_description {
  margin-left: 2rem;
  align-content: flex-start;
  font-size: 1.25rem;
}

.derived_value_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.derived_value_label {
  font-style: italic;
  width: 5rem;
  text-align: right;
  margin-right: 0.5rem;
  align-self: flex-start
}





/* .derived_value_contents {
} */

/* .derived_value_contents_json_pre {
  white-space: pre-wrap;
} */


.RawRecipeView {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  height: 2rem;
}

.RawRecipeLabel {
  margin-right: 0.5rem;
  font-style: italic;
  user-select: none;
}

.RawRecipeValue {
  overflow-wrap: break-word;
  font-family: monospace;
}
