.DerivationView {
  max-width: 80vw;
}

.DeleteButton, .SaveButton {
  border-radius: 0.25rem;
}

.SaveButton {
  margin-left: .25rem;
  margin-right: 0.25rem;
}

.RecipeName {
  min-width: 12rem;
  /* font-size: 1.4rem; */
}

.RecipeBuilderBlock {
  /* margin-top: 1rem; */
  padding: 1rem;
  background-color: rgba(248,248,248,1);
  max-width: 85w;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.RecipeAndExplanationBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 4rem;
}

.RecipeFormFrame {
  background-color: rgba(224, 224, 224, 1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.RecipeHelpBlock {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 75vw;
}

.RecipeHelpContent {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  height: 3rem;
  /* width: auto; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.RecipeFields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}

.RecipeField, .RecipeFieldSelected {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .RecipeField {
  background-color: rgba(224, 224, 224, 1);
} */

.RecipeFieldSelected, .RecipeHelpContent {
  /* border-top-color: gray;
  border-top-width: 0.075rem;
  border-top-style: solid; */
  background-color: rgba(248, 248, 248, 1);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.FieldName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 1px;
  margin-bottom: 4px;
}


/* .FieldName:focus {
  outline:0;
} */

.FieldName:active {
  background: gray
}

.FieldToolTip {
  /* display: flex;
  flex-direction: row; */
  display: block;
  position: absolute;
  visibility: hidden;
  max-width: 50vw;
  margin-top: 20px;
  background: rgba(192,192,192,.75);
  color: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  z-index: 1;
}

.FieldName:hover .FieldToolTip {
  transform: translateY(-200%);
  visibility: visible;
}

.RawRecipeView {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* align-items: flex-end; */
}

.RawRecipeLabel {
  margin-right: 0.5rem;
  font-style: italic;
  user-select: none;
}

.RawRecipeValue {
  overflow-wrap: break-word;
  font-family: monospace;
}

.RecipeDescriptionView {
  display: block;
}


.PurposeOrHostNameTextField, .SequenceNumberTextField, .LengthTextField {
  font-size: 1.1rem;
}

.SequenceNumberTextField, .LengthTextField {
  text-align: right;
}

.LengthTextField {
  background-color: rgba(0, 64, 196, 0.1);
}

.PurposeOrHostNameTextField {
  background-color: rgba(128, 0, 128, 0.1);
}

.SequenceNumberTextField {
  background-color: rgba(16, 148, 16, .1);
}

.length_span {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-decoration-color: rgba(0, 64, 196, 0.5);
}

.sequence_number_span {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-decoration-color: rgba(16, 148, 16, 0.5);
}
.host_name_span /* , .PurposeOrHostNameTextField */ {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-decoration-color: rgb(128, 0, 128, 0.5);
}

.PurposeOrHostNameTextField {
  min-width: 15rem;
}

.DerivedValueBlock {
  padding: 1rem;
  min-height: 15vh;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  font-family: monospace;
  overflow-wrap: anywhere;
}

.DerivedValueHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.DerivedValue {
  display: block;
  font-family: monospace;
  width: 100%;
  overflow-wrap: anywhere;
  /* overflow-y: scroll; */
  white-space: pre-wrap;
  border: 1px solid gray;
  padding: 0.25rem;

  /* border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray; */
}

.SelectRecipe {
  align-self: flex-start;
  border: none;
  /* background-color: rgba(248, 248, 248, 1); */
  padding-top: 0.05rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  margin-bottom: 1rem;
}

.SelectDerivedField, .SelectRecipeType {
  align-self: flex-start;
  border: none;
  background-color: rgba(248, 248, 248, 1);
  padding-top: 0.05rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}