.StepFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.5rem;
  width: 80vw;
  align-self: center;
}

.StepFooterRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}


.SpaceBetweenLeftAndRightButtons {
  min-width: 6rem;
}