.StepFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.5rem;
  width: 80vw;
  align-self: center;
}

.StepFooterRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.StepButton {
  min-width: 3rem;
  cursor: arrow;
  justify-content: center;
  align-items: baseline;
  background: none;
  border: none;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  user-select: none;
}

.StepButton:focus {
  outline:0;
}

.StepButton:active {
  background: gray
}

.SpaceBetweenLeftAndRightButtons {
  min-width: 6rem;
}