.expandable_component {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(230, 233, 233, 1);
  margin: 0px;
  padding: 0px;
  margin-top: .25rem;
  margin-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .25rem;
  border-radius: .5rem;
}

.button {
  padding: 0px;
  margin: 0px;
  margin-left: -.25rem; 
  border: none;
  color: black;
  background-color: rgba(0,0,0, 0);
  outline: none;
}
