.optional_prescribed_text_input {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
}

.text_box_and_toggle {
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: center;
}


.toggle_span {
  user-select: none;
  border: none;
}

.formula {
  font-family: monospace;
}