.PrimaryView {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.ColumnCentered, .ColumnStretched, .PaddedStretchedColumn {
  display: flex;
  flex-direction: column;
}

.ColumnCentered {
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-shrink: 5;
  /* flex-grow: 5; */
  flex-grow: 5;
  flex-shrink: 5;
}

.ColumnStretched, .PaddedStretchedColumn{
  flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 100%;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  margin: 1.5rem;
}

.PaddedStretchedColumn {
  margin: 1.5rem;
}