.CharButton {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: none;
  border: none;
  margin: 0.1rem;
  height: 1.5rem;
  width: 1.5rem;;
}

.CharButton:focus {
  outline:0;
}

.CharButton:active {
  background: gray
}

.CharButtonToolTip {
  display: flex;
  position: absolute;
  visibility: hidden;

  background: rgba(192,192,192,.75);
  color: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  z-index: 1;
}

.CharButton:hover .CharButtonToolTip {
  transform: translateY(-100%);
  visibility: visible;
  font-size: .75rem;
}