.add_password_domain {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_label {
  margin-top: 1rem;
  flex-direction: column;
}

.label_span {
  display: flex;
}

.write_icon {
  user-select: none;
}

.write_icon::before {
  content: '\01F589';
}

.text_box {
  min-width: 40rem;
}