.view_top_level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 100vh;
  padding: 0;
}

.PreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: stretch;
  height: 100vh;
  width: 96vw;
  padding-left: 2vw;
  padding-right: 2vw
}


.form_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-color: #f6f9f9;
  flex-shrink: 1;
  padding-left: 1vw;
  padding-right: 1vw;
  max-width: 94vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-width: 0.25rem;
  border-color: #404040;
  border-style: solid;
  border-radius: 1rem;
}

.input_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(128, 128, 128, 0.05);
  border-radius: 0.25rem;
  padding: .25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  border-color: rgba(128, 128, 128, .25);
  border-style: solid;
}

.label_above_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.centered_controls, .decision_button_container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical_labeled_field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field_row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.label_below {
  /* border-top-width: 1px;
  border-top-style: solid;
  border-top-color: gray; */
  text-align: center;
  margin-top: 1px;
  margin-bottom: 4px;
}