/* 
  Make sure the page takes up the full height and uses flex mode.
*/
html {
  display: flex; min-width: 100%; min-height: 100%;
}
option, select {
  font-size: 1.4rem;
}
label {
  font-size: 1.4rem;
}
video {
  max-width: 1024px;
  max-height: 1024px;
  display: block;
  flex-grow: 0
}
input[type=button] {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
  border-radius: 5px;
}
