/* 
  Make sure the page takes up the full height and uses flex mode.
*/
html {
  display: flex; min-width: 100%; min-height: 100%;
}
.content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-grow: 2;
  flex-shrink: 5;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}
.content video, .overlay {
  max-width: 1024px;
  max-height: 1024px;
}
.content video {
  display: block;
  flex-grow: 0
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
input[type=button] {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
  border-radius: 5px;
}
.dicekey-preservation-instruction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.AppMain {
  min-width: 96%;
  max-width: 96%;
  min-height: 96%;
  max-height: 96%;
  margin: 0px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.ApiRequest {
  margin: 10px;
}
.dicekey-video-or-box, .dicekey-svg, .ScanDiceKey {
  display: flex;
  flex-basis: 50%;
  flex-grow: 2;
  flex-shrink: 2;
}
.ApiRequest, .DiceKeySvgView, .ApiRequestContainer, .ApproveApiCommand,
.primary-container, .request-container {
  display: flex;
  flex-grow: 2;
  flex-shrink: 5;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  max-height: 100%;
}
.ScanDiceKey {
  background-color: rgba(0, 0, 0, 1);
  border: black solid 1px;
  display: flex;
  flex-grow: 5;
  flex-shrink: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}
.Hint {
  text-align: center;
}
.ApiResponseSettings {
  display: flex;
  flex-grow: 2;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.dicekey-container {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 5;
  flex-basis: 50%;
  justify-content: stretch;
  align-items: stretch;
}
/* .dicekey-container > div {
  display: flex;
  flex-grow: 0;
  flex: 1;
} */
.DiceKeyCanvas {
  flex-grow: 0;
  flex-shrink: 0;
  /* height: 768px;
  width: 768px; */
  /* flex-grow: 1; */
  /* display: flex; */
}
.request-choice, .request-promise, .request-description {
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
}
.request-description {
  margin-top: 0px;
  margin-bottom: 15;
  color: #202000;
  font-weight: 550;
}
.request-choice {
  font-size: 2em;
  color: #202000;
  font-weight: 550;
}
.request-promise {
  font-size: 1.6em;
  color: #001000;
  text-align: center;
}
.decision-button-container {
  margin-top: 25px;
}
.scan-instruction {
  font-size: 1.35em;
  font-weight: 500;
  text-align: center;
  color: #f8f8ff;
  padding-top: 2px;
  padding-bottom: 2px;
}
.password-to-be-shared-label {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.1em;
}
.centered-container, .expandable-centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.expandable-centered-container {
  flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 20%;
}
.password-to-be-shared-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: monospace;
  cursor:pointer;
  padding: 2px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.password-to-be-shared {
  display: flex;
  flex-grow: 0;
  font-size: 1.4em;
  font-family: monospace;
}
.crossout {
  text-decoration: line-through;
}
.centered-controls, .decision-button-container {
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.known-application-name {
  font-family: serif;
}
.hint {
  font-size: 1.25em;
}