.TopNavigationBar, .BottomNavigationBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  text-align: center;
}

.TopNavigationBar {
  height: 7vh;
  font-size: 3.75vh;
  background-color: #5576C5;
}

.BottomNavigationBar {
  height: 11vh;
  font-size: 3.75vh;
  background-color: gray;
  align-items: baseline;
}

.BetweenTopAndBottomNavigationBars {
  height: calc(82vh);
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.BelowTopNavigationBar {
  height: calc(93vh);
}

/* .NavLeftSide, .NavRightSide, .NavCenter {
} */

.NavLeftSide, .NavRightSide, .NavCenter {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.NavLeftSide, .NavRightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 10%;
  max-width: 25%;
  flex-basis: 25%;
  flex-shrink: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.NavLeftSide {
  cursor: pointer;
  justify-content: start;
}

.NavCenter {
  flex-basis: 50%;
  flex-grow: 2;
  flex-shrink: 0;
}

.NavRightSide {
  justify-content: end;
}

.footer_button, .footer_button_selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  padding-right: 0;
  padding-left: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
  cursor: pointer;
}

.footer_button_selected {
  filter: invert(100%);
}

.footer_icon {
  display: flex;
  max-height: 5vh;
  flex-basis: 0;
  flex-grow: 1;
}

/* .footer_button:not(:hover) {
  filter: invert(20%);
} */
.footer_button:hover {
  filter: invert(75%);
}
