{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-inferrable-types": "off"
  },
  "extends": ["plugin:@typescript-eslint/recommended"]
}
